@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  margin: 0;
position: relative;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  background-color: #1b2845;
  border-radius: 12px;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
}

.weather-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.weather-search input {
  gap: 12px;
  padding: 15px;
  width: 230px;
  color: #fff;
  border: 1px solid white;
  border-radius: 30px;
  background: transparent;
  font-size: 15px;
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: "Quicksand";
}

.weather-search button {
  padding: 12px;
  border: none;
  border-radius: 100px;
  border: 1px solid white;
  background: transparent;
}

.error-message {
  padding: 20px;
}

.error-message h2 {
  color: white;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.weather-info h2 {
  font-size: 40px;
}

.weather-info h3 {
  font-size: 20px;
}

.details {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 30px;
  color: white;
}

.details > .detail-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details .detail-card > img {
  width: 40px;
  height: auto;
  margin-bottom: 5px;
  margin: 6px;
}

.details .detail-card > span {
  font-size: 20px;
  font-weight: bold;
}

.detail-item {
  display: flex;
  flex-direction: column;
}

.details .detail-card .detail-item > span {
  margin: 0;
  font-size: 28px;
}

/* Responsive Styling */
@media (max-width: 1008px) {
  .weather {

padding: 35px;
  }
}
@media (max-width: 480px) {
  .weather {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .weather-info h2 {
    font-size: 32px;
  }

  .weather-info h3 {
    font-size: 16px;
  }

  .details {
    gap: 15px;
  }

  .details .detail-card > img {
    width: 35px;
  }

  .details .detail-card > span {
    font-size: 18px;
  }

  .details .detail-card .detail-item > span {
    font-size: 24px;
  }
}

@media (max-width: 390px) {
  .weather {
    padding: 25px;
  }

  .weather-info h2 {
    font-size: 28px;
  }

  .weather-info h3 {
    font-size: 14px;
  }

  .details {
    gap: 10px;
  }

  .details .detail-card > img {
    width: 30px;
  }

  .details .detail-card > span {
    font-size: 16px;
  }

  .details .detail-card .detail-item > span {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .weather {

    padding: 15px;
  }

  .weather-info h2 {
    font-size: 24px;
  }

  .weather-info h3 {
    font-size: 12px;
  }

  .details {
    gap: 8px;
  }

  .details .detail-card > img {
    width: 25px;
  }

  .details .detail-card > span {
    font-size: 14px;
  }

  .details .detail-card .detail-item > span {
    font-size: 18px;
  }
}

@media (max-width: 330px) {
  .weather {
margin-top: 40px ;
    padding:20px 10px;
      
  }
  .weather-search input {
    padding: 6px;
  }

  .weather-search  button{
    padding: 6px;
  }
  
  .weather-info h2 {
    font-size: 30px;
  }

  .weather-info h3 {
    font-size: 10px;
  }
.weather-info img{
  height: 50px;
}
  .details {
    gap: 5px;
  }

  .details .detail-card > img {
    width: 20px;
  }

  .details .detail-card > span {
    font-size: 12px;
  }

  .details .detail-card .detail-item > span {
    font-size: 16px;
  }
}
